.shop-banner-wrapper {
  background-image: url("../img/main.jpg");
}

// ---------- Our Menu ---------- //
.shop-section {
  width: 100%;
  background-color: $white;
  @include flex-center;
  padding: 2rem 0;
  //@include dis-flex(space-between, flex-start);
}

// ---------- Filter menu ---------- //
.wrap-all-goods {
  width: 75%;
  @include flex-center;
  flex-direction: column;
}

.filter-section {
  width: 23%;
  //height: 300rem;
  //background-color: $light;
  .search-bar {
    position: relative;
    width: 95%;
    height: 4.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 0 0 2rem 0;
    @include flex-center;
  }

  input {
    width: 100%;
    height: 4rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
    outline: 0;
    border: none;
    font-size: $f14;
  }

  h4 {
    border-bottom: 1px solid $light;
  }

  ul {
    li {
      margin: 1rem 0;
      cursor: pointer;
      font-size: $f14;
    }
  }
}

// ---------- Wrap for goods section ---------- //

.wrap-sort-goods {
  width: 100%;
  @include dis-flex(space-between, center);

  select {
    background-color: white;
    border: none;
    width: 15rem;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-family: OpenSans;
    color: #666666 !important;
    outline: none;
    //border: 2px solid #f0f0f0;
  }
}

.wrap-goods {
  width: 100%;
  @include dis-flex(space-between, center);
  flex-wrap: wrap;

  .single-good {
    @include flex-center;
    flex-direction: column;
    width: 27rem;
    margin: 1% 0;
    border: 1px solid $light;
    padding: 5rem 0;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px #e7e7e7;
    -moz-box-shadow: 0px 0px 6px 1px #e7e7e7;
    -webkit-box-shadow: 0px 0px 6px 1px #e7e7e7;
    -o-box-shadow: 0px 0px 6px 1px #e7e7e7;
    -ms-box-shadow: 0px 0px 6px 1px #e7e7e7;

    .image {
      width: 17.2rem;
      height: 17.2rem;
      border-radius: 50%;
      transition: all 0.4s;
    }

    h4 {
      padding: 5rem 0 1rem 0;
      text-align: center;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;

      // &:hover {
      //   text-overflow: clip;
      //   width: auto;
      //   white-space: normal;
      // }
    }

    .add-to-cart {
      position: absolute;
      height: 4.3rem;
      width: 100%;
      line-height: 4rem;
      left: 0;
      bottom: -4.3rem;
      transition: all 0.4s;
      background-color: $red;
      text-transform: uppercase;
      color: $white;
      font-size: $f14;
      border: 1px solid $red;

      &:hover {
        opacity: 0.8;
      }
    }

    &:hover .image {
      transform: translateY(-5px);
      box-shadow: 4px 6px 12px -3px #505050;
      -moz-box-shadow: 4px 6px 12px -3px #505050;
      -webkit-box-shadow: 4px 6px 12px -3px #505050;
      -o-box-shadow: 4px 6px 12px -3px #505050;
      -ms-box-shadow: 4px 6px 12px -3px #505050;
    }

    &:hover .add-to-cart {
      bottom: 0px;
    }
  }
}

.pagination-btns {
  @include flex-center;

  .single-btn {
    width: 5rem;
    height: 5rem;
    border: 1px solid $light-grey;
    @include flex-center;
    margin-right: 2rem;
    cursor: pointer;

    a {
      padding: 0;
      margin: 0;
      color: $light-grey;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 5rem;
    }

    &:hover {
      background-color: $red;
      border: 1px solid $red;
      transition: all 0.4s;

      a {
        color: $red;
        display: block;
      }
    }
  }

  .first,
  .last {
    background-color: $red;
    border: 1px solid $red;

    a {
      color: $red;
    }
  }

  .first::before,
  .last::before,
  .next::before,
  .prev::before {
    position: absolute;
    z-index: 20;
    color: $white;
    font-size: 20px;
    content: "";
  }

  .first::before{
    content: "<<";
  }

  .last::before{
    content: ">>";
  }

  .next::before{
    content: ">";
  }

  .prev::before{
    content: "<";
  }

  .prev,
  .next {
    background-color: $blue;
    border: 1px solid $blue;
    a {
      color: $blue;
    }
  }
}

@media (max-width: 780px) {
  .goods {
    width: 100%;
    @include dis-flex(space-around, center);
  }
}

@media (max-width: 420px) {
  .goods {
    width: 100%;
    @include flex-center;
  }
}
