.reservation-banner-wrapper {
  background-image: url("../img/main1.jpg");
}

.reservation-section {
  width: 100%;
  @include flex-center;

  .container {
    @include flex-center;
    flex-direction: column;
  }

  .form-wrapper {
    width: 100%;
    @include flex-center;

    .form {
      width: 70%;
      @include flex-center;
      flex-direction: column;

      .input-wrapper {
        width: 99%;
        @include dis-flex(space-between, center);

        .form-input {
          width: 46%;
        }
      }

      .btnDis {
        cursor: default;

        &:disabled {
          opacity: 0.3;

          span {
            cursor: default;

            &:hover {
              cursor: default;
            }
          }
        }
      }

      .href-to {
        margin: 2rem 0;
        font-size: $f18;
      }
    }
  }
}

.wrapper {
  width: 100%;
  @include flex-center;

  .tables-wrapper {
    margin: 5rem 0;
    width: 60%;
    @include flex-center;
    flex-wrap: wrap;

    .single-table {
      width: 10rem;
      margin: 0 2rem 1rem 0;
      height: 10rem;
      background-color: $green;
      border-radius: 50%;
      @include flex-center;
      flex-direction: column;
      cursor: pointer;

      h4 {
        color: $white;
      }

      p {
        color: $light;
        font-style: italic;
      }
    }

    .not-available {
      background-color: $light;
      cursor: default;
      h4,
      p {
        color: $light-grey;
      }
    }
  }

  .form-btn {
    margin: 0 0 10rem 0 !important;
  }
}

@media (max-width: 768px) {
  .reservation-section .form-wrapper {
    .form {
      width: 90%;

      .input-wrapper {
        width: 96%;

        .form-input {
          width: 45%;
        }
      }
    }
  }

  .wrapper .tables-wrapper {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .reservation-section .form-wrapper {
    .form {
      width: 100%;

      .input-wrapper {
        width: 99%;
        flex-direction: row;
        flex-wrap: wrap;

        .form-input {
          width: 100%;
        }
      }
    }
    .btnDis {
      width: 50%;
    }
  }

  .wrapper .tables-wrapper {
    width: 100%;

    .single-table {
      width: 8rem;
      height: 8rem;
    }
  }
}
