// ---------- Our Menu on Menu Page ---------- //
.menu-banner-wrapper {
  background-image: url("../img/main4.jpg");
}

.separator {
  width: 100%;
  height: 20rem;
  background-color: $blue;
}

// animation on scrole
.scrollPage {
  opacity: 0;
  transition: 0.8s;
}

.scrollPage.animation {
  animation: captionText 0.5s ease forwards;
}
