.about-banner-wrapper {
  background-image: url("../img/main2.jpg");
}

.staff-wrapper__photo1 {
  background-image: url("../img/people/slider5.jpg");
}

.staff-wrapper__photo2 {
  background-image: url("../img/people/slider8.jpg");
}

.staff-wrapper__photo3 {
  background-image: url("../img/people/slider1.jpg");
}

.contact-text-img {
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/sign.png");
}

.contact-section .contact-section-photo{
  height: 40rem;
  background-color: $blue;
  background-image: url("../img/banner1.jpg");
}
