// ---------- Our Menu ---------- //
.menu-section {
  background-color: $white;
  @include flex-center;
  flex-direction: column;
}

// ---------- Title of our menu ---------- //
.wrap-title-our-menu {
  text-align: center;
  padding: 10rem 0 2rem 0;

  & > h2 {
    color: $light-black;
    font-size: $f50;
  }
}

// ---------- Filter menu ---------- //
.wrap-filter-menu {
  width: 100%;
  height: 4rem;
  border: 1px solid $light;
  margin-bottom: 5rem;
}

.nav-tabs {
  @include dis-flex(center, center);

  li {
    a {
      padding: 0 1.6rem;
      border-right: 1px solid $light;
      line-height: 4rem;
      color: $light-grey;
      font-family: $lt;

      &:hover,
      &.active {
        color: $red;
      }
    }
    &:last-child a {
      padding-right: 0;
      border-right: none;
    }
  }
}

@media (max-width: 780px) {
  .wrap-title-our-menu {
    padding: 5rem 0 2rem 0;
  }

  .nav-tabs li {
    a {
      font-size: $f12;
      padding: 0 0.5rem;
      line-height: 4rem;
    }
  }
}

// ---------- Wrap for menu---------- //
.tab-content {
  width: 100%;
}

.content-wrapper {
  @include dis-flex(space-around, center);
  flex-wrap: wrap;
}

.item-food {
  width: 45%;
  margin-bottom: 2rem;
  @include dis-flex(space-between, center);

  &__photo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-image: url("../img/menu/beer1.jpg");
    background-size: cover;

    a {
      display: block;
      cursor: pointer;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }
  }

  &__description {
    width: 80%;
    @include dis-flex(flex-start, flex-start);
    flex-direction: column;

    .food-info {
      width: 100%;
      @include dis-flex(space-between, flex-end);

      .info-line {
        height: 1px;
        flex-grow: 2;
        margin: 0 1rem;
        border-bottom: 1px solid $light-grey;
      }

      span {
        font-family: $ostb;
        font-size: $f14;
      }
    }
  }
}
//photos for lunch section
#lunch-wrapper .photo1 {
  background-image: url("../img/menu/salad1.jpg");
}

#lunch-wrapper .photo2 {
  background-image: url("../img/menu/salad2.jpg");
}

#lunch-wrapper .photo3 {
  background-image: url("../img/menu/salad3.jpeg");
}

#lunch-wrapper .photo4 {
  background-image: url("../img/menu/salad4.jpg");
}

#lunch-wrapper .photo5 {
  background-image: url("../img/menu/salad5.jpeg");
}

#lunch-wrapper .photo6 {
  background-image: url("../img/menu/wok1.jpeg");
}

#lunch-wrapper .photo7 {
  background-image: url("../img/menu/wok3.jpg");
}

#lunch-wrapper .photo8 {
  background-image: url("../img/menu/wok4.jpg");
}

//photos for dinner section
#dinner-wrapper .photo1 {
  background-image: url("../img/menu/steak1.jpeg");
}

#dinner-wrapper .photo2 {
  background-image: url("../img/menu/steak2.jpg");
}

#dinner-wrapper .photo3 {
  background-image: url("../img/menu/steak3.jpeg");
}

#dinner-wrapper .photo4 {
  background-image: url("../img/menu/steak4.jpeg");
}

#dinner-wrapper .photo5 {
  background-image: url("../img/menu/burger1.jpg");
}

#dinner-wrapper .photo6 {
  background-image: url("../img/menu/burger2.jpg");
}

#dinner-wrapper .photo7 {
  background-image: url("../img/menu/burger3.jpeg");
}

#dinner-wrapper .photo8 {
  background-image: url("../img/menu/burger4.jpg");
}

//photos for dessert section
#dessert-wrapper .photo1 {
  background-image: url("../img/menu/desert1.jpg");
}

#dessert-wrapper .photo2 {
  background-image: url("../img/menu/desert2.jpg");
}

#dessert-wrapper .photo3 {
  background-image: url("../img/menu/desert3.jpeg");
}

#dessert-wrapper .photo4 {
  background-image: url("../img/menu/desert4.jpeg");
}

#dessert-wrapper .photo5 {
  background-image: url("../img/menu/desert1.jpg");
}

#dessert-wrapper .photo6 {
  background-image: url("../img/menu/desert2.jpg");
}

#dessert-wrapper .photo7 {
  background-image: url("../img/menu/desert3.jpeg");
}

#dessert-wrapper .photo8 {
  background-image: url("../img/menu/desert4.jpeg");
}

//photos for drinks section
#drinks-wrapper .photo1 {
  background-image: url("../img/menu/drink1.jpg");
}

#drinks-wrapper .photo2 {
  background-image: url("../img/menu/drink2.jpeg");
}

#drinks-wrapper .photo3 {
  background-image: url("../img/menu/drink3.jpg");
}

#drinks-wrapper .photo4 {
  background-image: url("../img/menu/drink4.jpg");
}

#drinks-wrapper .photo5 {
  background-image: url("../img/menu/beer1.jpg");
}

#drinks-wrapper .photo6 {
  background-image: url("../img/menu/beer2.jpg");
}

#drinks-wrapper .photo7 {
  background-image: url("../img/menu/beer3.jpg");
}

#drinks-wrapper .photo8 {
  background-image: url("../img/menu/beer4.jpeg");
}

@media (max-width: 768px) {
  .item-food {
    width: 80%;}
}

@media (max-width: 420px) {
  .item-food {
    width: 90%;
    flex-direction: column;
    border-bottom: 1px solid $dark-grey;

    &__photo {
      margin-bottom: 2rem;
    }

    &__description {
      width: 80%;
      flex-direction: column;
      padding-bottom: 1rem;
    }
  }
}
