// ---------- Our Menu ---------- //
.menu-section {
  background-color: $white;
  @include flex-center;
  flex-direction: column;
}

// ---------- Title of our menu ---------- //
.wrap-title-our-menu {
  text-align: center;
  padding: 10rem 0 2rem 0;

  & > h2 {
    color: $light-black;
    font-size: $f50;
  }
}

// ---------- Filter menu ---------- //
.wrap-filter-menu {
  width: 100%;
  height: 4rem;
  border: 1px solid $light;
  margin-bottom: 5rem;
}

.nav-tabs {
  @include dis-flex(center, center);

  li {
    a {
      padding: 0 1.6rem;
      border-right: 1px solid $light;
      line-height: 4rem;
      color: $light-grey;
      font-family: $lt;

      &:hover,
      &.active {
        color: $red;
      }
    }
    &:last-child a {
      padding-right: 0;
      border-right: none;
    }
  }
}

@media (max-width: 780px) {
  .wrap-title-our-menu {
    padding: 5rem 0 2rem 0;
  }

  .nav-tabs li {
    a {
      font-size: $f12;
      padding: 0 0.5rem;
      line-height: 4rem;
    }
  }
}

// ---------- Wrap for goods section ---------- //
.wrap-goods {
  width: 90%;
  @include dis-flex(space-between, center);
  flex-wrap: wrap;

  .single-good {
    @include flex-center;
    flex-direction: column;
    max-width: 25rem;
    margin: 1%;

    h4 {
      padding: 1rem;
      text-align: center;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;

      //   &:hover {
      //     text-overflow: clip;
      //     width: auto;
      //     white-space: normal;
      //   }
    }

    .image {
      width: 90%;
      height: 25rem;
      padding: 1rem 0;
    }

    .price-good {
      width: 100%;
      @include dis-flex(space-around, center);
      padding: 1rem;
      border-bottom: 1px solid $black;

      button {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 780px) {
  .goods {
    width: 100%;
    @include dis-flex(space-around, center);
  }
}

@media (max-width: 420px) {
  .goods {
    width: 100%;
    @include flex-center;
  }
}
