// ---------- Banner section ---------- //
.banner-section {
  position: relative;
  width: 100%;
  height: 50rem;
  @include flex-center;
  background-size: cover;
  background-image: url("../img/banner1.jpg");
  background-position: center;

  .container {
    @include flex-center;
    font-family: $ltb;
    font-weight: 900;
    font-size: $f50;
    text-transform: uppercase;
    flex-direction: column;

    .banner-word {
      color: $blue;
    }

    .animated-text {
      animation: text-shadow 1.5s ease-in-out infinite;
      line-height: 1;
      padding: 2rem 0;
      color: $red;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@media (max-width: 320px) {
  .banner-section .container {
    @include flex-center;
    font-size: $f40;
  }
}
