// ---------- Footer ---------- //
.footer {
  background-color: $light-black;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  color: $light;
  padding: 2rem 0;
}

// ---------- Main footer ---------- //
.wrap-footer {
  width: 90%;
  @include dis-flex(flex-start, flex-start);
  border-bottom: 1px solid $dark-grey;

  // ---------- Each column ---------- //
  &__column {
    margin: 5rem 0;
    padding: 0 5rem;
    width: 33%;
    border-right: 1px solid $dark-grey;
    @include dis-flex(flex-start, flex-start);
    align-items: flex-start;
    flex-direction: column;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
      border-right: none;
    }

    h4 {
      font-size: $f16;
      font-family: $ost;
      color: $white;
      margin-bottom: 1rem;
    }

    ul li {
      line-height: 2.14;
      font-size: $f14;
      color: $light-grey;

      a {
        color: $light-grey;

        &:hover {
          color: $red;
        }
      }
    }

    // ---------- Menu links ---------- //
    .useful-links {
      @include dis-flex(space-between, flex-start);
      width: 100%;
      flex-wrap: wrap;

      li {
        width: 50%;

        a {
          font-family: $ost;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

// ---------- Bottom footer ---------- //
.wrap-bottom-footer {
  width: 90%;
}

.bottom-footer__wrapper {
  padding: 2rem 0 0 0;
  @include dis-flex(space-between, center);

  .secure {
    span {
      padding: 0 1rem;
      font-size: $f14;
      color: $light-grey;
      border-right: 1px solid $light-grey;

      &:last-child {
        padding-right: 0;
        border-right: none;
      }

      a {
        font-family: $lt;
        color: $light-grey;
        font-size: $f12;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrap-footer__column {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .wrap-footer {
    flex-wrap: wrap;

    &__column {
      width: 50%;
      margin: 2rem 0;

      &:first-child {
        padding: 2rem 0 0 3rem;
        width: 100%;
        margin: 0;
        border-right: none;
      }
    }
  }
}

@media (max-width: 420px) {
  .wrap-footer {
    flex-wrap: wrap;

    &__column {
      width: 100%;

      &:first-child {
        height: 15rem;
        margin: 2rem 0;
        padding: 0 3rem;
      }
    }
  }

  .bottom-footer__wrapper {
    flex-direction: column;
    @include flex-center;

    p {
      font-size: $f14;
      text-align: center;
    }
  }
}
