//typography

// .h1 {
//   color: $white;
//   font-size: $f26;
//   text-align: center;
//   font-family: $mm;
// }

h2 {
  color: $dark-grey;
  font-size: $f45;
  text-align: center;
  font-family: $ostb;
}

h3 {
  color: $white;
  font-size: $f90;
  text-align: center;
  font-family: $ss;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba($color: $red, $alpha: 0.4), 1px 2px 1px rgba($color: $red, $alpha: 0.4),
    1px 3px 1px rgba($color: $red, $alpha: 0.4), 1px 4px 1px rgba($color: $red, $alpha: 0.4),
    1px 5px 1px rgba($color: $red, $alpha: 0.4), 1px 6px 1px rgba($color: $red, $alpha: 0.4),
    1px 7px 1px rgba($color: $red, $alpha: 0.4), 1px 8px 1px rgba($color: $red, $alpha: 0.4),
    1px 9px 1px rgba($color: $red, $alpha: 0.4), 1px 10px 1px rgba($color: $red, $alpha: 0.4);
}

h4 {
  color: $dark-grey;
  font-size: $f14;
  font-family: $ostb;
  text-transform: uppercase;
}

h5 {
  color: $dark-grey;
  font-size: $f18;
  font-family: $ostb;
}

h6 {
  text-transform: uppercase;
  color: $light-grey;
  font-family: $lt;
  font-size: $f14;
  letter-spacing: 0.1rem;
}

p {
  font-size: $f16;
  color: $light-grey;
  font-family: $ost;
  line-height: 1.8;
  text-align: justify;
}

a {
  cursor: pointer;
  font-family: $ltb;
  font-size: $f14;
  text-transform: uppercase;
  color: $light;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;

  &:hover {
    text-decoration: none;
    text-shadow: none;
    color: $red;
  }
}

.bold {
  font-weight: bold;
  color: $black;
}

.italic {
  font-style: italic;
  letter-spacing: -0.1rem;
}

.underline{
  text-decoration: underline;
}