@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b, 0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd, 0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd, 0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}

@keyframes showSubMenu {
  0% {
    visibility: visible;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animation-slide-in-down {
  0% {
    transform: translate(0, 30%);
  }

  100% {
    transform: translate(0, 0%);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    letter-spacing: 150px;
    text-shadow: 0 0 50px #fff;
  }
  50% {
    letter-spacing: 50px;
  }
  100% {
    opacity: 0.8;
    letter-spacing: 3px;
    text-shadow: 0 0 1px #fff;
  }
}

//Mixins
@mixin basic($height, $width) {
  height: $height;
  width: $width;
}

@mixin indents($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin position1($position, $bottom, $left) {
  position: $position;
  bottom: $bottom;
  left: $left;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dis-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
