// ---------- Different ---------- //
body {
  font-family: $ost, sans-serif;
}

.container {
  width: 90%;
  @include dis-flex(space-between, flex-start);
  flex-direction: row;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

// ---------- Wrap for titles ---------- //
.wrap-title {
  text-align: center;
  padding: 10rem 0 5rem 0;

  & > h2 {
    color: $light-black;
    font-size: $f50;
  }
}

@media (max-width: 420px) {
  .wrap-title {
    padding: 5rem 0;
  }
}
// ---------- Banner on pages ---------- //
.pages-banner-section {
  width: 100%;
  height: 50rem;

  .pages-banner-wrapper {
    width: 100%;
    height: 50rem;
    background-size: cover;
    @include flex-center;
    animation: slide 2s ease;

    .wrap-title {
      h2 {
        color: $white;
      }

      h6 {
        color: $light;
        text-transform: uppercase;
      }
    }
  }
}
/*=================================================================== Button Back to top ===*/
.btn-back-to-top {
  @include flex-center;
  position: fixed;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  bottom: 4.5rem;
  right: 5rem;
  background-color: rgba($color: $light-black, $alpha: 0.7);
  z-index: 100000;
  transition: all 0.4s;
  display: none;

  i {
    transform: rotate(180deg);
    color: $light;
    font-size: $f24;
  }

  &:hover {
    background-color: rgba($color: $red, $alpha: 0.7);
  }
}

@media screen and (max-width: 420px) {
  .btn-back-to-top {
    bottom: 2rem;
    right: 1.5rem;
  }
}
