// ---------- Header Mobile ---------- //
#wrap_header_mobile {
  @include dis-flex(space-between, center);
  height: 9rem;
  background-color: white;
  display: none;
  z-index: 10;
  //position: absolute;
}
// ---------- Logo ---------- //
.logo-mobile {
  @include flex-center;
  width: 13rem;
  height: 100%;

  a {
    display: block;
    width: 7rem;

    & > img {
      max-width: 100%;
    }
  }
}
// ---------- Burger box ---------- //
.burger-box {
  margin-right: 5%;

  input {
    display: block;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;

    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-1.2rem, -1.4rem);
    }

    &:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(1.2rem, -1.4rem);
    }
  }

  span {
    display: block;
    width: 3.3rem;
    height: 0.4rem;
    margin-bottom: 0.5rem;
    position: relative;
    background: $dark-grey;
    border-radius: 0.3rem;
    z-index: 1;
    transform-origin: 0.4rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 110% 350%;
    }
  }
}

@media (max-width: 1100px) {
  #wrap_header_mobile {
    display: flex;
  }
  #wrap_header {
    display: none;
  }
}
// ---------- Menu mobile ---------- //
.wrap-side-menu {
  //position: absolute;
  z-index: 4;
  width: 100%;
  background-color: $light-black;
  transition: 0.6s;
  margin-top: 0;
}

.wrap-sub-menu {
  width: 100%;
  background-color: $light-black;
  transition: 0.6s;
  margin-top: 0;
}

.show {
  margin-top: 0 !important; /* to overide inline style */
}

.hide {
  display: block !important;
}

.wrap-sub-menu {
  display: none;
  animation: showSubMenu 1s linear forwards;
}

.side-menu {
  width: 100%;

  .main-menu {
    margin-bottom: 0;

    a {
      color: $light;
      line-height: 2.86;
      display: block;
    }

    & > li {
      padding-left: 3rem;
      color: $light;
      position: relative;
    }

    #arrow-main-menu {
      font-size: $f14;
      position: absolute;
      right: 2rem;
      top: 0.5rem;
      padding: 1rem;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }

  .sub-menu {
    a {
      font-family: $lt;
      color: $light-grey;
      line-height: 2.5;
      display: block;
      padding: 1em 0;
      transition: 0.1s;
    }

    & > li {
      padding-left: 3rem;

      &:last-child {
        padding-bottom: 1.5rem;
      }
    }
  }

  a:hover {
    text-decoration: none;
    color: $red;
  }
}

.turn-arrow {
  transform: rotate(90deg);
}

@media (min-width: 1100px) {
  .wrap-side-menu {
    display: none;
  }
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
  font-size: $f24;
}
