// ---------- Slider Section ---------- //
.slider-section {
  height: 100vh;
  @include flex-center;
  overflow: hidden;
  position: relative;

  .controls .prev,
  .controls .next {
    position: absolute;
    z-index: 6;
    @include basic(4rem, 4rem);
    border-radius: 50%;
    font-size: $f24;
    opacity: 0.8;
    color: $light;
    background: $light-grey;
    text-align: center;
    line-height: 4rem;
    cursor: pointer;

    &:hover {
      background: $light-black;
      opacity: 1;
      transition: all 150ms ease-in-out;
    }

    .icon-circle-left:before,
    .icon-circle-right:before {
      font-size: $f40;
    }
  }

  .controls .prev {
    right: 95vw;
  }
  .controls .next {
    right: 2vw;
  }
}

.slider {
  width: 100%;
  height: 100vh;

  .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 5;
    display: none;
    animation: slide 2s ease;

    &.active {
      @include flex-center;

      .caption h3 {
        opacity: 0;
        animation: captionText 0.5s ease forwards;
        animation-delay: 1s;
      }

      .caption div {
        opacity: 0;
        animation: captionText 0.5s ease forwards;
        animation-delay: 1.2s;
      }
    }

    .container {
      @include flex-center;
    }

    .caption {
      @include flex-center;
      flex-direction: column;
    }

    &:nth-child(1) {
      background-image: url("../img/main.jpg");
    }

    &:nth-child(2) {
      background-image: url("../img/main1.jpg");
    }

    &:nth-child(3) {
      background-image: url("../img/main2.jpg");
    }

    &:nth-child(4) {
      background-image: url("../img/main5.jpg");
    }

    &:nth-child(5) {
      background-image: url("../img/main4.jpg");
    }
  }
}

// ---------- Buttons on slider ---------- //
.btn-slide {
  margin-top: 5rem;

  .btn1,
  .btn2 {
    cursor: pointer;
    user-select: none;
    padding: 1.5rem 4rem;
  }

  .btn1 {
    color: $red;
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    margin-right: 2rem;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: transparent;
      text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
    }
  }

  .btn2 {
    background-color: $red;

    &:hover {
      color: $red;
      background-color: transparent;
      text-shadow: none;
    }
  }
}

@media (max-width: 770px) {
  .slider-section .controls .prev {
    right: 93vw;
  }
}

@media (max-width: 450px) {
  .slider-section .controls .prev,
  .slider-section .controls .next {
    @include basic(3.5rem, 3.5rem);
    font-size: $f18;
    line-height: 3.5rem;
  }

  .slider-section .controls .prev {
    right: 86vw;
  }
  .slider-section .controls .next {
    right: 5vw;
  }

  .btn-slide {
    margin-top: 5rem;

    .btn1,
    .btn2 {
      padding: 1rem 2rem;
    }
  }
}

@media (max-width: 320px) {
  .btn-slide {
    .btn1,
    .btn2 {
      padding: 1rem 2rem;
    }

    .btn1 {
      margin-right: 0.5rem;
    }
  }
}
